ul {
    list-style-type: none;
    padding: 0px;
    text-align: center;
}
#menu {
    width:200px
}
#menu>li {
    background: #4bcdc8;
    border: 1px outset #000;
    padding: 5px;
    position: relative;
}
.submenu {
    position: absolute;
    top: 0px;
    left: 199px;
    display: none;
}
.submenu>li {
    background: #189a96;
    border: 1px outset #000;
    padding: 2px;
    width: 180px;
}
#menu li:hover {
    background: #089461;
    color: white;
    cursor: pointer;
}
#menu li:hover ul {
    display: block;
}
