body {
    margin: 0;
}

#menuHorizontal {
    width: 960px;
    margin: auto;
    background-color: #4ba;
    height: 30px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 5px #000 inset;
    position: relative;
    z-index: 2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#menu > li {
    display: inline-block;
    padding: 5px;
    margin: 0 10px 0 10px;
}

.panel {
    background-color: rgb(7%, 42%, 38%);
    color: #fff;
    width: 150px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 0 5px #000, 0 0 5px #000;
    padding-top: 100px;
    position: relative;
    transition: all ease 2s;
    transform-style: preserve-3d;
    top: -250px;
}


.front > img {
    margin-bottom: 90px;
}


.front {
    backface-visibility: hidden;
}

.back {
    position: absolute;
    top: 20px;
    transform: rotate(180deg) translateZ(100px);
}

.back > ul > li {
    background-color: #90DDD2;
    width: 140px;
    margin-top: 30px;
    padding: 5px;
    box-shadow: 0 0 3px #136C60 inset;
}

.panel:hover {
    animation: animacion ease 3s forwards;
}

@keyframes animacion {
    0% {
        background-color: #375F85;
        top: -250px;
    }
    50% {
        top: -20px;
        transform: rotateY(0deg);
    }
    100% {
        top: -20px;
        transform: rotateY(180deg);
    }
}

.back > ul > li:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0 5px 0 hsl(171, 53%, 41%), 0 10px 10px #000, 0 0 3px #136C60 inset;
    border-radius: 3px;
}

.back > ul > li:active {
    transform: scale(1.2) translateY(3px);
    box-shadow: 0 3px 0 hsl(171, 53%, 41%), 0 10px 10px #000, 0 0 3px #136C60 inset;
    border-radius: 3px;
}